.background {
  background-color: lightgoldenrodyellow;
}

.table {
  display: table;
}
.row {
  display: table-row;
  margin: auto;
}
.cell {
  display: table-cell;
  color: green;
  background-color: wheat;
  vertical-align: top;
  width: 400px;
  border: 1px solid green;
  padding: 10px;
}
.cell-1 {
  background-color: azure;
}
.cell-2 {
  background-color: khaki;
}
.cell-3 {
  background-color: beige;
}
.cell-4 {
  background-color: lavender;
}
.cell-range {
  width: 120px;
}
.container {
  text-align:center;
  color: green;
  vertical-align: top;
  padding: 10px;
}

.dyntable {
  display: table;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-color: green;
  border: 10px;
  border-left: 15px;
}
.dynrow {
  display: table-row;
  border-bottom: 1px solid #cef;
  padding: 4px 5px;
}
.dynrowHead {
  display: table-row;
  font-weight: bold;
  background-color: #acf;
  border-bottom: 1px solid #cef;
  padding: 4px 5px;
}
.dyncell {
  display: table-cell;
  padding: 4px 5px;
}
.odd{
  background-color: #cef;
}
.even{
  background-color: #eef;
}
