.background {
  background-color: lightgoldenrodyellow;
}

.table {
  display: table;
}
.row {
  display: table-row;
  margin: auto;
}
.cell {
  display: table-cell;
  color: green;
  background-color: wheat;
  vertical-align: top;
  width: 400px;
  border: 1px solid green;
  padding: 10px;
}
.cell-1 {
  background-color: azure;
}
.cell-2 {
  background-color: khaki;
}
.cell-3 {
  background-color: beige;
}
.cell-4 {
  background-color: lavender;
}

.container {
  text-align:center;
  color: green;
  vertical-align: top;
  padding: 10px;
}

#ContainerDiv1 {
    width:100%;
    text-align:center;
}
#ContainerDiv2 {
    width:100%;
    text-align:center;
}
#ContainerDiv3 {
    width:100%;
    text-align:center;
}

#FirstDiv{
  float:left;
  background-color : #99FFCC;
  margin: auto;
  width: 50%;
  height: 20px
  padding: 2px;
}
#SecondDiv{
  float:right;
  background-color : #99AACC;
  margin: auto;
  width: 50%;
  height: 20px
  padding: 2px;
}
#ThirdDiv{
  float:left;
  background-color : #99BBAA;
  margin: auto;
  width: 50%;
  height: 20px
  padding: 2px;
}
#FourthDiv{
  float:right;
  background-color : #99CCFF;
  margin: auto;
  width: 50%;
  height: 20px
  padding: 2px;
}
#FifthDiv{
  float:left;
  background-color : #99AABB;
  margin: auto;
  width: 50%;
  height: 20px
  padding: 2px;
}
#SixthDiv{
  float:right;
  background-color : #99AABB;
  margin: auto;
  width: 50%;
  height: 20px
  padding: 2px;
}
