.table {
  display: table;
}
.row {
  display: table-row;
  margin: auto;
}
.cell {
  display: table-cell;
  color: green;
  background-color: yellow;
  vertical-align: top;
  width: 400px;
  border: 1px solid green;
  padding: 10px;
}
.cell-1 {
  background-color: azure;
}
.cell-2 {
  background-color: khaki;
}
.cell-3 {
  background-color: beige;
}
.cell-4 {
  background-color: lavender;
}
